h1 {color: rgb(11, 196, 252);
        font-size: 100px;
        text-align: center;
        font-family: Arial, sans-serif;
    }

#titulo2 {color: rgb(0, 0, 255);
        font-size: 100px;
        text-align: center;
        font-family: Arial, sans-serif;
    }

h2 {
    color: rgb(207, 28, 46);
    font-family: Arial, sans-serif;
    font-size: 50px;
}

.azul {
    color: rgb(0, 0, 255);
}

.fondo {
    font-size: 25px;
    background-color: rgb(115, 165, 165);
}

.titulo1 {
    color: rgb(30, 0, 255);
}

.warning {
    background-color: #dca4168e;
}